.article-banner {
    max-width: 720px;
    max-height: 360px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-header-caption {
    max-width: 720px;
    max-height: 360px ;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 5px;
    color: #fff;
    font-size: .7em;
    background: #000;
    text-align: center;
    z-index: 5;
    opacity: 0.65;
    border-radius: 5px 0 0 0;
}

/* Dark mode changes for code */

.dark .hljs-string {
     color: #d94;
}

.dark .hljs-symbol {
    color: #cc79ec;
}

.dark .hljs-type {
    color: #7496fb;
}

.dark .hljs-keyword {
    color: #e44949;
}

.dark .hljs-title {
    color: #77fd9b;
}

.dark .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: #008080;
}

.dark .hljs-name {
    color: #1c1c77;
}
